/* FHIR family-specific colors */
:root {
  --navbar-bg-color: #3177fa; /* 2. Header container color */
  --footer-container-bg-color: #3177fa; /* 4. Footer container color */
  --btn-hover-color: #3177fa;  /* 6. Menu button hover color */
}
